[Unit]
Description=My Node.js Application
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/myapp/webapp-fork
ExecStart=/usr/bin/node /opt/myapp/webapp-fork/app.js  # Start your Node.js application
Restart=on-failure

[Install]
WantedBy=multi-user.target
